In [1]:
import pandas as pd  
import datetime as dt
import matplotlib
import backtrader as bt
import numpy as np
import tushare as ts
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline   

#正常显示画图时出现的中文和负号
from pylab import mpl
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False

In [9]:
pro = ts.pro_api('ffc714ffff21ebeaac6ef3cbf0db7bd557634cdaf1c5cc95afb0f35e')
df = pro.opt_basic(exchange='SSE', fields='ts_code,name,exercise_type,exercise_price,list_price,list_date,delist_date')
df.head()

,ts_code,name,exercise_type,exercise_price,list_price,list_date,delist_date
0,10000579.SH,华夏上证50ETF期权1604认购2.15,欧式,2.15,0.0412,20160225,20160427
1,10000108.SH,华夏上证50ETF期权1505认购2.65,欧式,2.65,0.1006,20150326,20150527
2,10000111.SH,华夏上证50ETF期权1505认沽2.55,欧式,2.55,0.0906,20150326,20150527
3,10001067.SH,华夏上证50ETF期权1712认购3.24,欧式,3.24,0.0059,20171123,20171227
4,10001068.SH,华夏上证50ETF期权1712认沽3.24,欧式,3.24,0.2330,20171123,20171227

In [10]:
df.tail()

,ts_code,name,exercise_type,exercise_price,list_price,list_date,delist_date
2853,10002648.SH,华泰柏瑞沪深300ETF期权2008认沽4.80,欧式,4.8,0.4664,20200703,20200826
2854,10002649.SH,华泰柏瑞沪深300ETF期权2009认购4.80,欧式,4.8,0.0424,20200703,20200923
2855,10002650.SH,华泰柏瑞沪深300ETF期权2009认沽4.80,欧式,4.8,0.4933,20200703,20200923
2856,10002651.SH,华泰柏瑞沪深300ETF期权2012认购4.80,欧式,4.8,0.0926,20200703,20201223
2857,10002652.SH,华泰柏瑞沪深300ETF期权2012认沽4.80,欧式,4.8,0.5469,20200703,20201223